<div>
<div class="questions-main" style="margin-top: 1.8rem;    border-radius: 0.4rem;">
<div class="question-head">
    <div><h5><%=question.content%></h5>
    <a href=""><small><%=question.answers.length%> Answers</small></a></div>
    <%if(locals.user && locals.user.id==question.user.id){%>
        <div class="btn-group" role="group" style="    height: 5%;
        width: 5%;">
                <button type="button" class="btn btn-secondary dropdown-toggle" style="     background-color: #edf0f4;   height: 100%;
                width: 100%;
                padding: 0px;
                border: none;" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/threedots.png" style="    height: 100%;
                    width: 100%;" alt="">
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="/questions/delete/<%=question._id%>">Delete</a>
                </div>
              </div>
              <%}%>
</div>
<div class="question-context"></div>
<div class="question-nav-icons">
    <div class="icons-qu" onclick="openAnswersForm()"><i class="fa-regular fa-5x fa-pen-to-square"></i><h6>Answer</h6></div>
    <div class="icons-qu"><i class="fa-sharp fa-solid fa-star" style="font-weight: 0;"></i><h6>Star</h6></div>
    <div class="icons-qu"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjST8hY84yqtGLJJjmRZEJjyI_9g35cuD_rkkDrAXRtMQVGL4d2eiCVtH3xcXTHOGbuPQ&usqp=CAU" alt=""><h6>Pass</h6></div>

</div>
<%-include('answers_input_form')-%>
</div>