.backcover{
    width: 100%;
    height: 8.5%;
    background-image: url(/images/backcover.png);
    background-size: contain;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
   
}

.userimage{


    img{
        width: 100%;
        height: 100%;
        border-radius: 3rem;
    }
}
.imgp{
    height: 5rem;
    width: 5rem;
    margin-top: -2rem;
    }

    .headEr{
        display: flex;
        flex-direction: column;
    align-items: center;


    .user-name{
        font-size: x-large;
        font-weight: 700;
        font-family: sans-serif;
    }
    }